$col-white: #fff;
$col-black: #000;

$font-size-title: 22px;
$font-size-subtitle: 17px;

$font-weight-light: 300;
$font-weight-normal: 600;
$font-weight-bold: 800;



.theme-dark {
  --color-bg: hsl(209, 23%, 22%);
}

.theme-light {
  --color-bg: hsl(0, 0%, 98%);
}

.header {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

    &__box {
      margin: 0 auto;
      max-width: 1440px;
      width: 100%;
      
      .row {
        display: flex;
        justify-content: space-between;
        padding: 24px 80px;
      }

      .title {
        font-size: $font-size-title;
        font-weight: $font-weight-bold;
      }

      .button {
        margin-top: 5px;
        display: flex;

        .title {
          font-weight: $font-weight-light;
          font-size: $font-size-subtitle;
        }

        .icon {
          width: 17px;
          height: 20px;
          margin-right: 9px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .header {

      &__box {
        .row {
          padding: 34px 18px 30px 18px;
        }

        .title {
          font-size: 13px;
        }

        .button {
          margin-top: 0;

          .title {
            font-size: 12px;
          }

          .icon {
            width: 13px;
            height: 13px;
          }
        }
      }
    }
  }